site_name: Fief
site_url: https://docs.fief.dev

theme:
  name: material
  custom_dir: overrides
  logo: assets/images/fief-logo-white.svg
  favicon: assets/images/favicon.svg
  language: en
  font:
    text: Inter
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  features:
    - navigation.instant
    - navigation.expand
    - navigation.sections
    - navigation.indexes
    - navigation.tabs
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.code.annotate
    - content.code.copy

repo_name: fief-dev/fief
repo_url: https://github.com/fief-dev/fief

plugins:
  - search
  - tags

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - tables
  - def_list
  - md_in_html

extra:
  analytics:
    provider: posthog
  header_links:
    - title: About
      href: https://www.fief.dev
    - title: Discussions
      href: https://github.com/orgs/fief-dev/discussions
    - title: Subscribe
      href: https://polar.sh/fief-dev

extra_css:
  - assets/stylesheets/extra.css

extra_javascript:
  - assets/javascripts/fernet.js

watch:
- examples
- reusables
- overrides

nav:
  - index.md
  - 'Getting started':
    - getting-started/introduction.md
    - getting-started/local-instance.md
    - getting-started/oauth2.md
    - getting-started/try-oauth2.md
  - user-journey.md
  - 'Integrate':
    - 'Python':
      - 'General': integrate/python/index.md
      - integrate/python/fastapi.md
      - integrate/python/flask.md
      - integrate/python/cli.md
      - 'Reference ↗️': https://fief-dev.github.io/fief-python/
    - 'JavaScript':
      - 'General': integrate/javascript/index.md
      - 'Backend':
        - integrate/javascript/backend/express.md
      - 'SSR':
        - integrate/javascript/ssr/nextjs.md
      - 'Frontend':
        - integrate/javascript/frontend/browser.md
        - integrate/javascript/frontend/react.md
      - 'Reference ↗️': https://fief-dev.github.io/fief-js/
  - 'Configure':
    - configure/index.md
    - configure/tenants.md
    - configure/clients.md
    - configure/oauth-providers.md
    - configure/users.md
    - configure/user-fields.md
    - configure/access-control.md
    - configure/webhooks.md
    - configure/api-keys.md
    - 'Customization':
        - configure/customization/themes.md
        - configure/customization/email-templates.md
  - 'Going further':
    - going-further/authorize-url.md
    - going-further/acr.md
    - going-further/pkce.md
    - going-further/id-token-encryption.md
    - going-further/oauth-provider-token.md
  - 'Admin API':
    - api/index.md
    - 'Webhooks':
      - Integration guide: api/webhooks/guide.md
      - Events: api/webhooks/events.md
  - 'Self-hosting':
    - self-hosting/index.md
    - 'Production deployment':
      - self-hosting/deployment/docker-compose.md
      - self-hosting/deployment/render.md
      - self-hosting/deployment/setup-database.md
      - self-hosting/deployment/setup-email-provider.md
      - self-hosting/deployment/ssl.md
    - self-hosting/environment-variables.md
  - Telemetry: telemetry.md
