:root > * {
  --md-primary-fg-color:        #f43f5e;
  --md-primary-fg-color--light: #fb7185;
  --md-primary-fg-color--dark:  #e11d48;

  --md-accent-fg-color:                #e11d48;
}

.md-header__link {
  backface-visibility: hidden;
  display: block;
  font-size: .7rem;
  outline-color: var(--md-accent-fg-color);
  outline-offset: 0.2rem;
  transition: transform .4s cubic-bezier(.1,.7,.1,1),opacity .25s;

  font-weight: 600;

  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.md-nav--primary .md-nav__title {
  height: auto;
}

.md-nav__title .md-nav__button.md-logo img {
  height: 1rem !important;
}

table td code {
  white-space: nowrap;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons .md-button {
  margin-bottom: 0.5rem;
  text-align: center;
}

.fernet-key-generator {
  display: flex;
  width: 100%;
}

.fernet-key-generator .highlight {
  flex-grow: 1;
}

.fernet-key-generator .highlight pre {
  margin: 0;
  height: 100%;
}

.fernet-key-generator .highlight pre code {
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.fernet-key-generator .md-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body[data-md-color-scheme="slate"] .excalidraw  svg  {
  filter: invert(100%) hue-rotate(180deg);
}

body[data-md-color-scheme="slate"] .excalidraw svg rect {
  fill: transparent;
}

.excalidraw {
  text-align: center;
}
