:root {
  --md-primary-fg-color:        #f43f5e;
  --md-primary-fg-color--light: #fb7185;
  --md-primary-fg-color--dark:  #e11d48;

  --md-accent-fg-color:                #e11d48;
}

.md-header__link {
  backface-visibility: hidden;
  display: block;
  font-size: .7rem;
  outline-color: var(--md-accent-fg-color);
  outline-offset: 0.2rem;
  transition: transform .4s cubic-bezier(.1,.7,.1,1),opacity .25s;

  font-weight: 600;

  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.md-nav--primary .md-nav__title {
  height: auto;
}

.md-nav__title .md-nav__button.md-logo img {
  height: 1rem !important;
}

table td code {
  white-space: nowrap;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons .md-button {
  margin-bottom: 0.5rem;
  text-align: center;
}
